* {
    font-family: 'Rock Salt', cursive;
}

#app {
    width: 70%;
    margin: auto;
    text-align: center;
}

.yellow {
    color: yellow;
    font-size: 50px;
}

h1 {
    -webkit-text-stroke: 0.1px black;
    text-shadow: -2px 2px 1px rgba(0, 0, 0);
}